/*
Theme Name:     Digital Explanation
Theme URI:      https://github.com/jcarlosj/DigitalExplanation-WordPress-Theme
Description:    Storefront child theme.
Author:         Juan Carlos Jiménez Gutiérrez
Author URI:     https://github.com/jcarlosj/
Template:       storefront
Version:        0.1.1
Requires at least: 5.4
Tested up to: 7.4.0
Requires PHP: 7.4.0
License:      MIT License
License URI:  https://choosealicense.com/licenses/mit/
Text Domain:  digexp
Tags:         e-commerce, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready, rtl-language-support, footer-widgets, sticky-post, theme-options, editor-style
*/

:root {
	--xs: 0;
	--sm: 576px;
	--md: 768px;
	--lg: 992px;
	--xl: 1200px;
	--xxl: 1400px;
	--site-width: 1330px;
	--main-bg-color: #F6F6F6;
	--btn-bg-color-primary: #FF6801;
	--btn-hover-bg-color-primary: #FFFFFF;
	--btn-color-primary: #FFFFFF;
	--btn-hover-color-primary: #FF6801;
	--btn-border-hover-color-primary: #FF6801;
}

body {
	background-color: var( --main-bg-color );
}

.site-header,
.site-content,
.site-footer {
	max-width: var( --site-width );
	margin: 0 auto;
}

.col-full {
	margin: .5rem auto;
	max-width: 98%;
	padding: 0;
}

.btn {
	border-radius: 5px;
	box-sizing: border-box;
	letter-spacing: 0.5px;
	padding: 8px 10px;
	position: relative;
	text-transform: uppercase;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}

.btn-primary {
	background-color: var( --btn-bg-color-primary );
	border: 2px solid var( --btn-border-hover-color-primary );
	color: var( --btn-color-primary );
}

.btn-primary:hover {
	background-color: var( --btn-hover-bg-color-primary );
	border: 2px solid var( --btn-border-hover-color-primary );
	color: var( --btn-hover-color-primary );
}

.notification-bar {
	display: flex;
	justify-content: space-between;
	padding: .5rem 0;
}

.notification-bar p {
	margin: auto;
	padding: 8px 10px;
}

.notification-message {
	display: flex;
	justify-content: space-between;
}

@media screen and ( min-width: var( --sm ) ) {
	.btn {
		padding: 8px 25px;
	}
	.notification-bar p {
		padding: 8px 25px;
	}
}
