/*
Theme Name:     Digital Explanation
Theme URI:      https://github.com/jcarlosj/DigitalExplanation-WordPress-Theme
Description:    Storefront child theme.
Author:         Juan Carlos Jiménez Gutiérrez
Author URI:     https://github.com/jcarlosj/
Template:       storefront
Version:        0.1.0
*/
