// View applied styles by going to https://your-site.com/wp-content/themes/videojet/assets/style-guide/elements.html

html {
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* stylelint-disable */
*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* stylelint-enable */

/**
 * 1. Fallback for when there is no custom background color defined. [WordPress]
 * 2. Remove default margin. [normalize.css]
 * 3. Set the base elements `font-size` to the value of your choosing.
 * 4. Work out the unitless `line-height` for your project based around your
 *    desired `line-height` (defined previously in pixels), and your projects
 *    base font size.
 */
body {
	margin: 0;

	@include font-family();
	@include body-text( body );

	background: $color__background-body;
	color: $color__text-body;

	// WP Editor
	&.mce-content-body {
		font-family: inherit;
		margin: 15px;
	}

	.col-full {
		margin: 0;
		max-width: 100%;
		padding: 0;
	}

	.site-header,
	.site-content,
	.site-footer {
		max-width: $site-width;
		margin: 0 auto;
	}

}
